extends layout

block content
    section.page-greeting
        if currentUser
            h1.page-greeting__header Welcome, U R authenticated!
        else 
            h1.page-greeting__header Welcome Anonymus
        p.page-greeting__about
            | This is a test project which is created in order to learn NODE + EXPRESS + MONGO better created by Starantsov.
            | This is a test project which is created in order to learn NODE + EXPRESS + MONGO better created by Starantsov.
            | This is a test project which is created in order to learn NODE + EXPRESS + MONGO better created by Starantsov.
            | This is a test project which is created in order to learn NODE + EXPRESS + MONGO better created by Starantsov.
            

